

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(Fondo.jpg/foto1.jpg);
}

.Registro{
    width: 400px;
    background: #c3cad1;
    padding: 30px;
    margin: auto;
    margin-top: 80px;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif
    color white;
    box-shadow: 7px 13px 37px #000;
}


.Registro h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #18497a;
    padding: 10px;
    border: radius 4px;
    border-bottom: 16px;
    border: 1px solid #1e2933;  
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
}

.Registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height:40px;
    

}

.Registro a {

    color:white;
    text-decoration: none;

}

.Registro a :hover {

    color:white;
    text-decoration: underline;

}


.Registro .boton{
    width: 100%;
    background: #245bd1;
    border:nome;
    padding: 10px;
    color:white;
    margin: 16px 0;
    font: size 16px ;
    font-size: 16px ;
    


}